<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    <div class="main-div home-background">
      <div class="home-container">
        <div class="home-logo"></div>
        <div class="home-text">{{ content }}</div>
        <div class="home-social-icons">
          {% include social-icons.html %}
          <div class="home-address">
            R. Conselheiro Brotero, 220<br>
            Barra Funda, São Paulo - SP, 01154-001
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
